.DS_Store
**/.DS_Store
__MACOSX/
**/__MACOSX/

DerivedData/
**/DerivedData/

**/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

.build/
**/.build/
RuntimePackages/**/.build/

.swiftpm/
**/.swiftpm/
RuntimePackages/**/.swiftpm/

build/
**/build/

build_logs/
IncomingLogs/

*.xcactivitylog*
*.xcresult
*.xcresult/

**/*.pcm
**/*.swiftmodule
**/*.swiftdeps
**/*.dia
**/*.d
**/*.timestamp

*.raw
*.dump
*.strings.txt

Dev/_orphaned/
Dev/PBXBackups/
Dev/Tools/Archive/
Dev/Docs/Archive/

Dev/*.patch
Dev/*.diff
Dev/*.before
Dev/*_before
Dev/*before*

**/.git/
